name: Main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-and-test-windows:
    runs-on: windows-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          submodules: false
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install --legacy-peer-deps
        continue-on-error: true
      - name: Compile contracts
        run: npm run compile
        continue-on-error: true
      - name: Run tests
        run: npm test
        continue-on-error: true
  build-and-test-unix:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          submodules: false
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install --legacy-peer-deps
        continue-on-error: true
      - name: Compile contracts
        run: npm run compile
        continue-on-error: true
      - name: Run tests
        run: npm test
        continue-on-error: true
